	<div class="header-top">
		<img class="mb-4" src="../assets/logo.png" alt="SRM" width="150">
	</div>


	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item arrow-nav">
							<a class="nav-link active" href="#">
								<span data-feather="home"></span>
								Menu 1 <span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file"></span>
								Menu 2
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="shopping-cart"></span>
								Menu 3
							</a>
						</li>          
					</ul>


				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<div class="breadcrumbs">
						<a href="">Página Inicial > </a>
						<a href="">Gráfico</a>
					</div>

					<div class="conteudo">
						<div class="title-content">
							<h1>Painel de Gestão</h1>
						</div>
						<div class="ct-chart ct-perfect-fourth"></div>
						<div class="atalhos">
							<h1>Atalhos</h1>
							<div class="btn-toolbar mb-2 mb-md-0">
								<div class="btn-group mr-2">
									<div style="position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;" id="ct-accessibility-table-1425311150915">
										<table summary="A graphic that shows the nutrients of a banana">
											<caption>Nutrients of a banana</caption>
											<tbody>
												<tr>
													<th scope="col" role="columnheader">Carbohydrates</th>
													<th scope="col" role="columnheader">Protein</th>
													<th scope="col" role="columnheader">Fat</th>
												</tr>
												<tr>
													<td>71% with 24 grams</td>
													<td>24% with 8 grams</td>
													<td>6% with 2 grams</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

							</div>
						</div>
						
					</div>
				</div>

